<%- include('partials/header') %>



  <section class="bg-light" id="middle">
    <div class="row inner-page">

      <div class="col-lg-2">

      </div>
      <div id="main-content" class="col-lg-8">
        <div class="tab-content">

          <div class=" m-auto">
            <ul class="nav nav-tabs nav-fill mainContent">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#sem1" aria-selected="true">Sem-1</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#sem2" aria-selected="false">Sem-2</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#sem3" aria-selected="false">Sem-3</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#sem4" aria-selected="false">Sem-4</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#sem5" aria-selected="false">Sem-5</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#sem6" aria-selected="false">Sem-6</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#sem7" aria-selected="false">Sem-7</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#sem8" aria-selected="false">Sem-8</a>
              </li>

            </ul>
            <!-- -----------------------------------------  -->
            <div class="bg-white tab-content boxContent">

              <!-- Sem-1///////////////////////////////////////////////////////////////// -->
              <div class="tab-pane fade show active" id="sem1">
                <!-- Sem-1 Section -->
                <div class="tab-content inner-tab">

                  <div class=" m-auto">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#s11" aria-selected="true">EE145</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#s12" aria-selected="false">MA143</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#s13" aria-selected="false">CE143</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#s14" aria-selected="false">IT144</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#s15" aria-selected="false">CL142.01</a>
                      </li>
                    </ul>
                    <!-- /////////////////////////////////////////////// -->
                    <div class="tab-content SubjectContent">
                      <div class="tab-pane fade show active" id="s11">
                        <!-- EE145 Content -->
                        <h4>Basic of Electronics & Electrical Engineering (BEEE)</h4>
                        <br2></br2>
                        <!-- E-books -->
                        <h5 class="icon-title-e-books"><i class="far fa-file-pdf"></i>&nbsp;E-Books</h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1LPYWxgSL3asPHNtht3d-xBCAGxGMiIhm/view?usp=sharing"
                          target="_blank"><strong>Syllabus</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1hLcmRP4BpRMUPcYt4NKQ-YarTdUk0HA8/view?usp=sharing"
                          target="_blank"><strong>VK-Mehta-Principles-of-Electronics</strong></a>
                        <br> <br>

                        <!-- Last year paper -->
                        <h5 class="icon-title-papers"><i class="far fa-file-powerpoint "></i>&nbsp;Previous Year Papers
                        </h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/14B30BApHqLrEP6okBtk2AgCQLC0Wkjdj/view?usp=sharing"
                          target="_blank"><strong>EE141_seconInternal_2016-17</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1Kmd-QeiSuPnHWDWklSvdcE9Q-OzH5YZ6/view?usp=sharing"
                          target="_blank"><strong>EE141_BEEE_final_May_june-2017</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1ilbgJj96p_rQ5zcrF3eL73YT3QoMBqqz/view?usp=sharing"
                          target="_blank"><strong>EE141_EE103_Internal Improvement Test_May-2017</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1HV558CP_FSTknOqQVSGVlzW1zXjIzgGR/view?usp=sharing"
                          target="_blank"><strong>EE141_External Examination_Nov 2018_1</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/19Hd2hkQm45Aza9JJ6JN7k9imVC_Q4oe8/view?usp=sharing"
                          target="_blank"><strong>EE141_External Examination_Nov 2018_2</strong></a>


                        <!-- /////////////////////// -->
                      </div>

                      <div class="tab-pane fade" id="s12">
                        <!-- MA143 Content -->
                        <h4>Engeering Mathematics-I (EM-1)</h4>
                        <br2></br2>

                        <!-- Last year paper -->
                        <h5 class="icon-title-papers"><i class="far fa-file-powerpoint "></i>&nbsp;Previous Year Papers
                        </h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1Re7UaxeKLwI9syDb5fXIf2rI_vfOrExq/view?usp=sharing"
                          target="_blank"><strong>MA141_Retest_2017</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1QM8Pspc6lPS6-eHK9lWNnOXBb_cFyCOs/view?usp=sharing"
                          target="_blank"><strong>MA142_Nov17_university</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/19zPXtKhlCkj8ZcpX1yu9fg7CE2JOYarl/view?usp=sharing"
                          target="_blank"><strong>MA142_second internal_2017</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1pP5xpcsp4EbG-82u69JTLjXTf3UmSbKR/view?usp=sharing"
                          target="_blank"><strong>MA141__final_odd_2016</strong></a>


                        <!-- /////////////////////// -->
                      </div>

                      <div class="tab-pane fade" id="s13">
                        <!-- CE143 Content -->
                        <h4>Computer Concept & Programming (CCP)</h4>
                        <br2></br2>

                        <!-- Presentations Content -->
                        <h5 class="icon-title-presentation"><i class="far fa-file-powerpoint "></i>&nbsp;Presentations
                        </h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/19lYPD96mYDgY3m58FlekmgipAOoT-Rwt/view?usp=sharing"
                          target="_blank"><strong>Unit-2</strong> &nbsp;|&nbsp; CONSTANTS, VARIABLES & DATA TYPES </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1999R3jnzYK2sSEO_6591wprx-hopKWFj/view?usp=sharing"
                          target="_blank"><strong>Unit-4</strong> &nbsp;|&nbsp; Managing Input and Output Operation </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1QhAoHceOGCIAtZLyjDXXEMYGOLNESe01/view?usp=sharing"
                          target="_blank"><strong>Unit-6</strong> &nbsp;|&nbsp; Conditional Statements </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1okRAlzZqGuvzavqZ4pI1ZudyPqZ4s50B/view?usp=sharing"
                          target="_blank"><strong>Unit-7</strong> &nbsp;|&nbsp; Arrays </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1rHzcAMGIVluCwUXmgMjnWtm5tWrL31qV/view?usp=sharing"
                          target="_blank"><strong>Unit-8</strong> &nbsp;|&nbsp; Character Arrays </a>
                        <br><br>

                        <!-- E-books -->
                        <h5 class="icon-title-e-books"><i class="far fa-file-pdf"></i>&nbsp;E-Books</h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/10oU2Hk9YvthnrdG29mGZUX4YJpHWcvuC/view?usp=sharing"
                          target="_blank"><strong>Syllabus</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/19ucZQ30_-Un8f-jPKDX8jq6wv-bCnS2U/view?usp=sharing"
                          target="_blank"><strong>Unit-1</strong> &nbsp;|&nbsp; Introduction to Computer & Programing
                        </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1Va__tH40FJrgELbhUvudQnSHC0usiwsw/view?usp=sharing"
                          target="_blank"><strong>Unit-2</strong> &nbsp;|&nbsp; User Defined Function in c </a>
                        <br><br>

                        <!-- Last year paper -->
                        <h5 class="icon-title-papers"><i class="far fa-file-powerpoint "></i>&nbsp;Previous Year Papers
                        </h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1be9C28cmMI70tlq3BDbwdi_ZjC1OD_99/view?usp=sharing"
                          target="_blank"><strong>2012_Solution_University_Paper_CE101</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/114Dv9UCbrHjOHLGBl0EtLaCbyVyb0Wth/view?usp=sharing"
                          target="_blank"><strong>2013_Solution_University_Paper_CE103</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1QlaLAfwJbZ11c92oG28yzHZWOzE9wBik/view?usp=sharing"
                          target="_blank"><strong>2013_Solution_University_Paper_IT101</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/105UemrWsK5WxjlrIsVVogjlo6NvkB7zU/view?usp=sharing"
                          target="_blank"><strong>2014_Solution_University_Paper_CE103</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1hI_jeEsEWWnQfGu6pRqXIDJo7HPsrKTd/view?usp=sharing"
                          target="_blank"><strong>2016_Solution_University_Paper_CE141</strong></a>

                        <br>
                        <br>

                        <!-- /////////////////////// -->
                      </div>

                      <div class="tab-pane fade" id="s14">
                        <!-- IT144 Content -->
                        <h4>ICT Workshop </h4>
                        <br2></br2>

                        <!-- E-books -->
                        <h5 class="icon-title-e-books"><i class="far fa-file-pdf"></i>&nbsp;E-Books</h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1YeAw9LKS7LaBEl2RpVHsOZjcIiCOxu0U/view?usp=sharing"
                          target="_blank"><strong>Syllabus</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/15Z0rqaDRtp-v0cD0Lf1YKyVGRZ0Lj3ol/view?usp=sharing"
                          target="_blank"><strong>Unit-1</strong> &nbsp;|&nbsp; Introduction to Computer Hardware </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1H5GvY96nGMlhxIV_rPe-rzRYE3WIV339/view?usp=sharing"
                          target="_blank"><strong>Unit-2</strong> &nbsp;|&nbsp; PC trubleshooting </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1pzuZLtjFgYvsBq3XYi-st0lLFMxJUpm0/view?usp=sharing"
                          target="_blank"><strong>Unit-3</strong> &nbsp;|&nbsp; Display unit, Keyboard, Mouse and Touch
                          Pad, Printer </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1E0V-4T6Cl93JVURFX415IZCTAZ3NeAWA/view?usp=sharing"
                          target="_blank"><strong>Unit-4</strong> &nbsp;|&nbsp; Power supply & Storage Devices,
                          Assembling the computer system </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1uL9VQ1Asu0OrrA0hC7OjHJJypHRCshQl/view?usp=sharing"
                          target="_blank"><strong>Unit-5</strong> &nbsp;|&nbsp; Installation of various Operating
                          Systems, DOS Commands </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1AJdOHXi8ODn_EVQfIdTZsFKlfvgpGxuN/view?usp=sharing"
                          target="_blank"><strong>Unit-6</strong> &nbsp;|&nbsp; LINUX commands and scripting </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1SC89o1IEsClLbyR0CqN8KN4QRFpF_bgR/view?usp=sharing"
                          target="_blank"><strong>Unit-8</strong> &nbsp;|&nbsp; Batch File Commands & Programming in
                          Windows </a>



                        <!-- /////////////////////// -->
                      </div>

                      <div class="tab-pane fade" id="s15">
                        <!-- CL142.01 Content -->
                        <h4>Environmental Sciences (ES)</h4>
                        <br2></br2>

                        <!-- Presentations Content -->
                        <h5 class="icon-title-presentation"><i class="far fa-file-powerpoint "></i>&nbsp;Presentations
                        </h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1usMQW0qmJdQdKOik7GUVkdLQ7-94-urs/view?usp=sharing"
                          target="_blank"><strong>Unit-1</strong> &nbsp;|&nbsp; Introduction </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1ZzM85lK-fE1r5N11SFQ4aoOCg6G6NwMg/view?usp=sharing"
                          target="_blank"><strong>Unit-2</strong> &nbsp;|&nbsp; Environmental Pollution </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1Z2kAouh8w5ZheXKDJoxSNgg0UUXMlb9S/view?usp=sharing"
                          target="_blank"><strong>Unit-3</strong> &nbsp;|&nbsp; Ecology & Ecosystems </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1EbPWQvCO87pXrRhfMuTPmtOFmucstmYB/view?usp=sharing"
                          target="_blank"><strong>Unit-4</strong> &nbsp;|&nbsp; Population & Natural Resources </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1LODA0sFmuN18Y5StBUYjFGypKrvGm1EB/view?usp=sharing"
                          target="_blank"><strong>Unit-8</strong> &nbsp;|&nbsp; Water Pollution </a>
                        <br><br>

                        <!-- E-books -->
                        <h5 class="icon-title-e-books"><i class="far fa-file-pdf"></i>&nbsp;E-Books</h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1JYgBE8n_uX68vm3yc9GxOpzWdAGPsRLN/view?usp=sharing"
                          target="_blank"><strong>EVS Fireworks</strong> </a>





                        <!-- /////////////////////// -->
                      </div>

                    </div>

                  </div>
                </div>

              </div>
              <!-- ///////////////////////////////////////////////////////// -->

              <!-- Sem-2///////////////////////////////////////////////////////////////// -->
              <div class="tab-pane fade" id="sem2">
                <!-- Sem-2 Section -->
                <div class="tab-content inner-tab">

                  <div class=" m-auto">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#s21" aria-selected="true">CE144</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#s22" aria-selected="false">MA144</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#s23" aria-selected="false">ME145</a>
                      </li>

                    </ul>
                    <!-- /////////////////////////////////////////////// -->
                    <div class="tab-content SubjectContent">
                      <div class="tab-pane fade show active" id="s21">
                        <!-- CE144 Content -->
                        <h4>Object oriented programming with C++ (OOPC)</h4>
                        <br2></br2>

                        <!-- Presentations Content -->
                        <h5 class="icon-title-presentation"><i class="far fa-file-powerpoint "></i>&nbsp;Presentations
                        </h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1VEyx0UFIgqHUnZsd0ztO2YxNfgx7gT0m/view?usp=sharing"
                          target="_blank"><strong>Unit-1</strong> &nbsp;|&nbsp; Principles of object-oriented
                          Programming </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1PHbctbg7WycfGknkgwuqHI_zHHW1fGQO/view?usp=sharing"
                          target="_blank"><strong>Unit-3</strong> &nbsp;|&nbsp; Tokens, Expressions
                          and Control
                          Structure</a>
                          <br>

                          <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1ndutAASyZ54bRUAZmViQJ0kmWcN-5O8X/view?usp=sharing"
                          target="_blank"><strong>Unit-4</strong> &nbsp;|&nbsp; Inline Functions & Function Overloading </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                        href="https://drive.google.com/file/d/1G83Uf2zqcVyuxnNjRj7Ird3kDQcYZhW-/view?usp=sharing"
                        target="_blank"><strong>Unit-4</strong> &nbsp;|&nbsp; Functions </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1JnJ7f7Ppb9EM0K5TIIqhTUpdRxo2_qYP/view?usp=sharing"
                          target="_blank"><strong>Unit-5</strong> &nbsp;|&nbsp; Classes and Objects</a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1cMrd0fvY17QJPpFIVX2nh3md1K2Q4sYo/view?usp=sharing"
                          target="_blank"><strong>Unit-6</strong> &nbsp;|&nbsp; Constructor and Destructor</a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1-EYxSlNsDqdLHgGrhKxekW2MSzEHwE4u/view?usp=sharing"
                          target="_blank"><strong>Unit-7</strong> &nbsp;|&nbsp; Operator Overloading</a>
                        <br>

                        <br>
                        <!-- E-books -->
                        <h5 class="icon-title-e-books"><i class="far fa-file-pdf"></i>&nbsp;E-Books</h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1CdDtIHNsAO-CLsHBg0f9sL1g-mcOzLM9/view?usp=sharing"
                          target="_blank"><strong>Object-Oriented Programming in C++ (4th Edition)</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1Izs_ID6Lryu0WmEUermDdy_m68xyDQns/view?usp=sharing"
                          target="_blank"><strong>C++ STL Refrence</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1oDtpm91AL4BRDX-Ynk5j5rEnwVf1ZwfQ/view?usp=sharing"
                          target="_blank"><strong>File read/write functions</strong></a>
                        <br><br>


                        <!-- Last year paper -->
                        <h5 class="icon-title-papers"><i class="far fa-file-powerpoint "></i>&nbsp;Previous Year Papers
                        </h5>
                        <hr class="icon-title-hr">



                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/drive/folders/1aqr8KuOyzT14xkuGD9i7bNRtcxb4tHP5?usp=sharing"
                          target="_blank"><strong>Last 5 year Papers</strong></a>
                        <br>
                        <br>

                        <!-- Presentations Content -->
                        <h5 class="icon-title-presentation"><i class="far fa-file-powerpoint "></i>&nbsp;Presentations (Old Syllabus-2019/20)
                        </h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1162CCtxLHxWR28rbCCC5mdOK7-VLfRFS/view?usp=sharing"
                          target="_blank"><strong>Unit-1</strong> &nbsp;|&nbsp; Principles of object-oriented
                          Programming </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1t8wfKCGTmFSDG-VUEzxgKABUW5XU9s4K/view?usp=sharing"
                          target="_blank"><strong>Unit-3</strong> &nbsp;|&nbsp; Tokens, Expressions
                          and Control
                          Structure</a>
                          <br>

                          <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1EyE9s41HY9sjkzOmmC0ORDyuroqesa7o/view?usp=sharing"
                          target="_blank"><strong>Unit-4</strong> &nbsp;|&nbsp; Functions </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1I01XJqyyNT4DpRgDBjVv0peuu_upKih0/view?usp=sharing"
                          target="_blank"><strong>Unit-5</strong> &nbsp;|&nbsp; Classes and Objects</a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1EWZl0IqQwKgnO2D1b5QFRwl1nYLZx5i-/view?usp=sharing"
                          target="_blank"><strong>Unit-6</strong> &nbsp;|&nbsp; Constructor and Destructor</a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1T43imaOihEvO1-d2DARJcO1IYGPKj1P4/view?usp=sharing"
                          target="_blank"><strong>Unit-7</strong> &nbsp;|&nbsp; Operator Overloading</a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1H5cHRzY5ta7HotozHu7DJNswmionrU4o/view?usp=sharing"
                          target="_blank"><strong>Unit-8</strong> &nbsp;|&nbsp; Inheritance</a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1y9HM3SqGcpl7fl2te930C6OmQmA6HJb-/view?usp=sharing"
                          target="_blank"><strong>Unit-9</strong> &nbsp;|&nbsp; Pointer and Virtual Function</a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1KMYMX7hUTp1Sd5YLuEgwUkGiiR2FupO7/view?usp=sharing"
                          target="_blank"><strong>Unit-10</strong> &nbsp;|&nbsp; Managing Console I/O operation</a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1iX4o_5J_2s4A1wsUMZVmLCVeK4h8OeAb/view?usp=sharing"
                          target="_blank"><strong>Unit-11</strong> &nbsp;|&nbsp; Working With Files</a>
                        <br>


                        <!-- /////////////////////// -->
                      </div>

                      <div class="tab-pane fade" id="s22">
                        <!-- MA144 Content -->
                        <h4>Engeering Mathematics-II (EM-2)</h4>
                        <br2></br2>

                        <!-- E-books -->
                        <h5 class="icon-title-e-books"><i class="far fa-file-pdf"></i>&nbsp;E-Books</h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1edps6R67GaSWnAtQZQ_QA3MUg4yws-wU/view?usp=sharing"
                          target="_blank"><strong>Unit-1</strong>&nbsp;|&nbsp; First order and First degree Ordinary Differential Equations</a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1nAid33ZWl6FYV21T6QowJH-IudIHZveQ/view?usp=sharing"
                          target="_blank"><strong>Unit-2</strong>&nbsp;|&nbsp; Higher order linear Differential Equations</a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1Ut84gSBm6nZyK3z9Z1b_iNH8jwxoOkh-/view?usp=sharing"
                          target="_blank"><strong>Unit-4</strong>&nbsp;|&nbsp; Matrix Algebra-II</a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1Em6lblleOYi4VapqfBg1Mw6XdN93XZ01/view?usp=sharing"
                          target="_blank"><strong>Unit-5</strong>&nbsp;|&nbsp; Improper and Multiple Integrals</a>
                        <br>


                        <br>
                        <!-- Last year paper -->
                        <h5 class="icon-title-papers"><i class="far fa-file-powerpoint "></i>&nbsp;Previous Year Papers
                        </h5>
                        <hr class="icon-title-hr">



                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/drive/folders/1p85dCLG8RTcfVqcq1K5eOxYt-dqx65JU?usp=sharing"
                          target="_blank"><strong>Last Year Papers</strong></a>
                        <br>




                        <!-- /////////////////////// -->



                        <!-- /////////////////////// -->
                      </div>

                      <div class="tab-pane fade" id="s23">
                        <!-- ME145 Content -->
                        <h4>Elements of Engineering (EOE)</h4>
                        <br2></br2>

                        <!-- Presentations Content -->
                        <h5 class="icon-title-presentation"><i class="far fa-file-powerpoint "></i>&nbsp;Presentations
                        </h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1MctbB3kT-VHqLTJluBcKbM0qrD7pxFjb/view?usp=sharing"
                          target="_blank"><strong>Introduction to Mechanical Engineering </strong> </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1J5Y8yCKzmsAyadRTI3kD5l1ICBXjFUMj/view?usp=sharing"
                          target="_blank"><strong>Basics of Civil & Mechanical Engineering </strong> </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/16MYbjxthcuXeiAgcP3-IvNwhe9jBHraE/view?usp=sharing"
                          target="_blank"><strong>Steam Generators</strong>  </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/drive/folders/137r7k94ErxmEi-aS9SXD_fj2Rqo5QGxb?usp=sharing"
                          target="_blank"><strong>EG PPTs</strong> </a>
                        <br>

                        <br>
                        <!-- E-books -->
                        <h5 class="icon-title-e-books"><i class="far fa-file-pdf"></i>&nbsp;E-Books</h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1tqpK5rEs6yaKbpAG5vIaDZz7jN_I-3aW/view?usp=sharing"
                          target="_blank"><strong>Scope of Civil Engineering</strong>  </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1YcxzwbZQzggZq0xoeHvPNE-WBGhjHLAR/view?usp=sharing"
                          target="_blank"> <strong>Inroduction to Survey</strong>  </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1YcxzwbZQzggZq0xoeHvPNE-WBGhjHLAR/view?usp=sharing"
                          target="_blank"> <strong>Elements of Building Construction </strong> </a>
                        <br>
                        <br>
                        <!-- Reference Video -->
                        <h5 class="icon-title-record"><i class="far fa-file-video"></i>&nbsp;Reference Video
                        </h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/drive/folders/19EAaShtFDy9gYyHSL5h20NRm9ubldFaR?usp=sharing"
                          target="_blank"><strong>EOE_ME </strong>&nbsp;|&nbsp;(Old Syllabus)</a>
                        <br>

                        <!-- /////////////////////// -->

                        <!-- /////////////////////// -->
                      </div>



                    </div>

                  </div>
                </div>

              </div>
              <!-- ///////////////////////////////////////////////////////// -->


              <!-- Sem-3///////////////////////////////////////////////////////////////// -->
              <div class="tab-pane fade" id="sem3">
                <!-- Sem-3 Section -->
                <div class="tab-content inner-tab">

                  <div class=" m-auto">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#s31" aria-selected="true">MA253</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#s32" aria-selected="false">CE251</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#s33" aria-selected="false">CE252</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#s34" aria-selected="false">CE257</a>
                      </li>

                    </ul>
                    <!-- /////////////////////////////////////////////// -->
                    <div class="tab-content SubjectContent">
                      <div class="tab-pane fade show active" id="s31">
                        <!-- MA253 Content -->
                        <h4>Discrete Mathematics (DM)</h4>
                        <br2></br2>
                        <!-- Presentations Content -->
                        <h5 class="icon-title-presentation"><i class="far fa-file-powerpoint "></i>&nbsp;Presentations
                        </h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1ppLx26xuCr4HYA15bTpEwEPQIv_B4UXv/view?usp=sharing"
                          target="_blank"><strong>Unit-1</strong>&nbsp;|&nbsp;Predicate Calculus   </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1W0z2PJEeAG6NZ6Tcec_TlJG89yvgF2Yq/view?usp=sharing"
                          target="_blank"><strong>Unit-2 </strong>&nbsp;|&nbsp;Relations and Lattice </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1Jhk5vVWQdiVcDvE7HY7gkpzwL_N5841r/view?usp=sharing"
                          target="_blank"><strong>Unit-3 </strong>&nbsp;|&nbsp;Graph Theory  </a>
                        <br>

                        <br>
                        <!-- E-books -->
                        <h5 class="icon-title-e-books"><i class="far fa-file-pdf"></i>&nbsp;E-Books</h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1hs2VS83Aq-52UbbuArjMWzlWJu2OAcVI/view?usp=sharing"
                          target="_blank"><strong>Syllabus (2019-20)</strong>  </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1JlFqP9lWRvJtHG9OCmQEb3mRAshRXnog/view?usp=sharing"
                          target="_blank"> <strong>Rule of Inference</strong>  </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1jq2Q1juPfLeqMW7KLjZukietyUNyfspx/view?usp=sharing"
                          target="_blank"><strong>Unit-4 </strong>&nbsp;|&nbsp;Recurrence Relation </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1v91maL9L9vjaEU9bhcDT6KX8Q9jn34-i/view?usp=sharing"
                          target="_blank"><strong>Unit-5 </strong>&nbsp;|&nbsp;Abstract Algebra </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/16pwkHlCwDYDPTUozWAus1sOtjC7JChv9/view?usp=sharing"
                          target="_blank"><strong>Unit-6 </strong>&nbsp;|&nbsp;Vector Space (Linear Algebra) </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1DAtmEddu1q0wIdu7sLMQUzZLvfDvv2JQ/view?usp=sharing"
                          target="_blank"> <strong>Lattice Examples</strong> </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1xE7ghkTQrHY5tMO86v4HqQVkiGV_GqRa/view?usp=sharing"
                          target="_blank"> <strong>Kenneth H Rosen - Discrete mathematics (2003)</strong> </a>
                        <br>
                        <br>

                        <!-- Last year paper -->
                        <h5 class="icon-title-papers"><i class="far fa-file-powerpoint "></i>&nbsp;Previous Year Papers
                        </h5>
                        <hr class="icon-title-hr">



                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/drive/folders/1LYIzZ3E-0HwYfZGX4lwhbMnqT-68hOvA?usp=sharing"
                          target="_blank"><strong>Previous Year Papers</strong></a>
                        <br>
                        


                        <!-- /////////////////////// -->


                        <!-- /////////////////////// -->
                      </div>

                      <div class="tab-pane fade" id="s32">
                        <!-- CE251 Content -->
                        <h4>Java Programming (JP)</h4>
                        <br2></br2>

                        <!-- Presentations Content -->
                        <h5 class="icon-title-presentation"><i class="far fa-file-powerpoint "></i>&nbsp;Presentations
                        </h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1QM87YYph9-oy6E-m5YReNNynZryOZsLw/view?usp=sharing"
                          target="_blank"><strong>Unit-1</strong>&nbsp;|&nbsp;Introduction to JAVA   </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1m82-zK7AvMvBrkJbxFa395EMI7hihupl/view?usp=sharing"
                          target="_blank"><strong>Unit-2 </strong>&nbsp;|&nbsp;Class and Objects</a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1WfghSszHB3MWtukbN1_4yXVj5jOe55Nw/view?usp=sharing"
                          target="_blank"><strong>Unit-3 </strong>&nbsp;|&nbsp;Inheritance in JAVA  </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1pApdJdFtBwK2p0F_J8vZgyXBGddZ7DLp/view?usp=sharing"
                          target="_blank"><strong>Multithredding </strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/12dVVUbskucp3T0_-ifhkAR0U8XE30s9I/view?usp=sharing"
                          target="_blank"><strong>Generics & Collection Framework in JAVA </strong> </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1dN82a-Y2Yh1tCGmf7pApH9Srm-kDcylf/view?usp=sharing"
                          target="_blank"><strong>Lambda Expression in JAVA </strong> </a>
                        <br>

                        <br>
                        <!-- E-books -->
                        <h5 class="icon-title-e-books"><i class="far fa-file-pdf"></i>&nbsp;E-Books</h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1S93qYAagix6AYj35TaQvHAakWluBEyf9/view?usp=sharing"
                          target="_blank"><strong>Syllabus (2019-20)</strong>  </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1ZXa8A-1y2O-0Iyt3318fOCA6S3L40DbP/view?usp=sharing"
                          target="_blank"> <strong>Object Oriented Thinking</strong>  </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1_0Px-NccTWfBQ1VvjVW4aMh0Wj4L6hMW/view?usp=sharing"
                          target="_blank"><strong>Multithredded Programming </strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/17f_c87X-sQTpY2i5LErJ0zBnUbK88wVE/view?usp=sharing"
                          target="_blank"><strong>Collection Framework</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1WTK-klsPezxq1AAzzyrskUf-qCYMmKB4/view?usp=sharing"
                          target="_blank"><strong>Java IO Tutorials</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1Xqf0XcZzqgN3svj5IjexT3lTgbvjo6VN/view?usp=sharing"
                          target="_blank"> <strong>Core JAVA Volume-1</strong> </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1NIS8FeWjrJL3btP9uzeGALK1FmRM2LxO/view?usp=sharing"
                          target="_blank"> <strong>Core JAVA Volume-2</strong> </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1fo68DLodyFbra0_w5IxW4jPG0O0FDZUK/view?usp=sharing"
                          target="_blank"> <strong>Thinking in JAVA (Bruce Eckel)</strong> </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1Ma4eFzBWSZ-JMVRkFXjgrPTOAZxH04gZ/view?usp=sharing"
                          target="_blank"> <strong>Head First JAVA</strong> </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1HauHnKWfdomjf9WXSXwavmzQgtSh-KPW/view?usp=sharing"
                          target="_blank"> <strong>JAVA The Complete Reference (11th Edition)</strong> </a>
                        <br>

                        <br>

                        <!-- /////////////////////// -->

                        <!-- /////////////////////// -->
                      </div>

                      <div class="tab-pane fade" id="s33">
                        <!-- CE252 Content -->
                        <h4>Digital Electronics (DE)</h4>
                        <br2></br2>

                        <!-- Presentations Content -->
                        <h5 class="icon-title-presentation"><i class="far fa-file-powerpoint "></i>&nbsp;Presentations
                        </h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1BaL-z5bw74bKQo3Xw00WrB1yygR-bWG-/view?usp=sharing"
                          target="_blank"><strong>Unit-1</strong> &nbsp;|&nbsp;Introduction to Digital Electronics</a>
                          <br>

                          <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1Yf47nHAJTXr6sGXJP5k41IThMmt0_wIL/view?usp=sharing"
                          target="_blank"><strong>Unit-5</strong> &nbsp;|&nbsp;Sequential Circuit</a>
                          <br>

                          <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1u5LwVN9ZnK-NL86U78uprQVPoBSIkhOd/view?usp=sharing"
                          target="_blank"><strong>Unit-7</strong> &nbsp;|&nbsp;Register and Counter</a>
                          <br>
                        <br>
                        <!-- E-books -->
                        <h5 class="icon-title-e-books"><i class="far fa-file-pdf"></i>&nbsp;E-Books</h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1ylm1BafPjQvD1WtcRdoV19K9Se9nJz52/view?usp=sharing"
                          target="_blank"><strong>Arithmetic Logic Unit</strong></a>
                          <br>

                          <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1cyFJ3aSKJ2iZVohmT8oePR-4CTZF7ACb/view?usp=sharing"
                          target="_blank"><strong>Digital Logic and Computer Design.(M. Morris Mano)</strong></a>
                          <br>
                          <br>

                        <!-- Practical files -->
                        <h5 class="icon-title-papers"><i class="fas fa-microchip "></i>&nbsp;Practicals
                        </h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                        href="https://drive.google.com/drive/folders/1R_naDk4KU83OT4FaZu03Gy6IjQO_n4cn?usp=sharing"
                        target="_blank"><strong>Practical PPT and Screenshots</strong></a>
                        <br>
                        <br><br>

                         <!-- Last year paper -->
                         <h5 class="icon-title-papers"><i class="far fa-file-powerpoint "></i>&nbsp;Previous Year Papers
                         </h5>
                         <hr class="icon-title-hr">
 
 
 
                         <a class="btn btn-outline-secondary btn-academics"
                           href="https://drive.google.com/drive/folders/1zj_zyUxiMiqZwpkFBilp3hCJURiDYpA9?usp=sharing"
                           target="_blank"><strong>Previous Year Papers</strong></a>
                         <br>


                        <!-- /////////////////////// -->

                        <!-- /////////////////////// -->
                      </div>

                      <div class="tab-pane fade" id="s34">
                        <!-- CE257 Content -->
                        <h4>Data Communication & Networking (DCN) </h4>
                        <br2></br2>

                       <!-- Presentations Content -->
                       <h5 class="icon-title-presentation"><i class="far fa-file-powerpoint "></i>&nbsp;Presentations
                       </h5>
                       <hr class="icon-title-hr">

                       <a class="btn btn-outline-secondary btn-academics"
                         href="https://drive.google.com/file/d/1gWDguOu8c-ZVpsTWaJ_w40XahvhWEDjx/view?usp=sharing"
                         target="_blank"><strong>Unit-1</strong>&nbsp;|&nbsp;Introduction To Data Communication & Networking  </a>
                       <br>

                       <a class="btn btn-outline-secondary btn-academics"
                         href="https://drive.google.com/file/d/15MtJ3HyutwWKhMsLmP8ZV1QNWeRgYXKP/view?usp=sharing"
                         target="_blank"><strong>Unit-2 </strong>&nbsp;|&nbsp;Network Models </a>
                       <br>

                       <a class="btn btn-outline-secondary btn-academics"
                         href="https://drive.google.com/file/d/1Jhk5vVWQdiVcDvE7HY7gkpzwL_N5841r/view?usp=sharing"
                         target="_blank"><strong>Unit-5 </strong>&nbsp;|&nbsp;Error Detection & Correction </a>
                       <br>

                       <a class="btn btn-outline-secondary btn-academics"
                         href="https://drive.google.com/file/d/1ICqVeoMEnvZHSThqsXZ__nF5wzksNLnk/view?usp=sharing"
                         target="_blank"><strong>Unit-8 </strong>&nbsp;|&nbsp;Switching </a>
                       <br>
                       <br>
                       <!-- E-books -->
                       <h5 class="icon-title-e-books"><i class="far fa-file-pdf"></i>&nbsp;E-Books</h5>
                       <hr class="icon-title-hr">

                       <a class="btn btn-outline-secondary btn-academics"
                         href="https://drive.google.com/file/d/1m7xv_l2mVbXFPnF03hAAMy60aneDEivC/view?usp=sharing"
                         target="_blank"><strong>Syllabus (2019-20)</strong>  </a>
                       <br>

                       <a class="btn btn-outline-secondary btn-academics"
                         href="https://drive.google.com/file/d/1hIgJcQmaCc8NZ9uS3sIKg6RWlW-hHUDu/view?usp=sharing"
                         target="_blank"><strong>Transmission Media</strong></a>
                       <br>

                       <a class="btn btn-outline-secondary btn-academics"
                         href="https://drive.google.com/file/d/1QDHLnAQZPn6wLTBAhmOzefbT6CI-xEvx/view?usp=sharing"
                         target="_blank"><strong>Signals</strong></a>
                       <br>
                       <br>

                       <!-- Last year paper -->
                       <h5 class="icon-title-papers"><i class="far fa-file-powerpoint "></i>&nbsp;Previous Year Papers
                       </h5>
                       <hr class="icon-title-hr">



                       <a class="btn btn-outline-secondary btn-academics"
                         href="https://drive.google.com/drive/folders/1Sex0hiKWma8enXBtRcsp2nUJsLi38wCP?usp=sharing"
                         target="_blank"><strong>Previous Year Papers</strong></a>
                       <br>


                        <!-- /////////////////////// -->
                        <!-- /////////////////////// -->
                      </div>


                    </div>

                  </div>
                </div>

              </div>
              <!-- ///////////////////////////////////////////////////////// -->


              <!-- Sem-4///////////////////////////////////////////////////////////////// -->
              <div class="tab-pane fade" id="sem4">
                <!-- Sem-4 Section -->
                <div class="tab-content inner-tab">

                  <div class=" m-auto">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#s41" aria-selected="true">CE245</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#s42" aria-selected="false">CE246</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#s43" aria-selected="false">CE258</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#s44" aria-selected="false">CE259</a>
                      </li>


                    </ul>
                    <!-- /////////////////////////////////////////////// -->
                    <div class="tab-content SubjectContent">
                      <div class="tab-pane fade show active" id="s41">
                        <!-- CE245 Content -->
                        <h4>Data Structure & Algorithms (DSA)</h4>
                        <br2></br2>
                        <!-- Presentations Content -->
                        <h5 class="icon-title-presentation"><i class="far fa-file-powerpoint "></i>&nbsp;Presentations
                        </h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1xll8-F2wC8uiwu7CpEOJBFMTW7x32hsW/view?usp=sharing"
                          target="_blank"><strong>Searching & Sorting Algorithms</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1PpOKHXJWnwwnTkeDkFaCx1nKx_ZSN0MY/view?usp=sharing"
                          target="_blank"><strong>Quick Sort</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1vjwsI9pvh_EZvlAcVeimDoFAqET_RfCP/view?usp=sharing"
                          target="_blank"><strong>Unit-2</strong> &nbsp;|&nbsp; Linear Data Structure </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1dyWkNwe84e1FxvQ3taH9d8otqfNGkI-P/view?usp=sharing"
                          target="_blank"><strong>Linear Data Structure</strong> &nbsp;|&nbsp; Stack </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1E41gHvmyycqJfULayKS52faZEHSBXAZB/view?usp=sharing"
                          target="_blank"><strong>Linear Data Structure</strong> &nbsp;|&nbsp; Queue </a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1yABGljVCGGEK593gKwk33MgIKxUzcxLh/view?usp=sharing"
                          target="_blank"><strong>Linear Data Structure</strong> &nbsp;|&nbsp; Singly Linked List</a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/18DiJTazmPupK4vispT0ndL47lfz0uubr/view?usp=sharing"
                          target="_blank"><strong>Linear Data Structure</strong> &nbsp;|&nbsp; Doubly Linked List</a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/12CaCl5uq5k6_sl3mPcFzK2-6muzV7gtx/view?usp=sharing"
                          target="_blank"><strong>Linear Data Structure</strong> &nbsp;|&nbsp; Circular Linked List</a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/15gU0DVVkJPoNYOMQpoeEiV-s8at8jTmq/view?usp=sharing"
                          target="_blank"><strong>Non-Linear Data Structure</strong> &nbsp;|&nbsp; Tree</a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1yZKFDxOhTIN1vijl5VbLAQPfpy7wQiC2/view?usp=sharing"
                          target="_blank"><strong>Non-Linear Data Structure</strong> &nbsp;|&nbsp; Graph</a>
                        <br>
                        <br>

                        <!-- E-books -->
                        <h5 class="icon-title-e-books"><i class="far fa-file-pdf"></i>&nbsp;E-books</h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1qqc5fzzhnNIBgit5tiwyqszIgFUm7F0s/view?usp=sharing"
                          target="_blank"><strong>Syllabus</strong></a>
                          <br>

                          <a class="btn btn-outline-secondary btn-academics"
                            href="https://drive.google.com/file/d/18AOd5ImgheN-9Pb3B9uzv8qgMpsMGiQj/view?usp=sharing"
                            target="_blank"><strong>Quiz-1</strong> &nbsp;|&nbsp; 19/2/2021</a>
                            <br>

                            <a class="btn btn-outline-secondary btn-academics"
                              href="https://drive.google.com/file/d/1_fWILyHkzTANNX-DnSfTo1WLGJPfM07c/view?usp=sharing"
                              target="_blank"><strong>Quiz-2</strong> &nbsp;|&nbsp; 2/3/2021</a>
                              <br>

                              <a class="btn btn-outline-secondary btn-academics"
                                href="https://drive.google.com/file/d/1oof5p9A3Ixh2S_ql7XwDpZY6QUwQ9cSB/view?usp=sharing"
                                target="_blank"><strong>Quiz-3</strong> &nbsp;|&nbsp; 9/3/2021</a>
                                <br>

                                <a class="btn btn-outline-secondary btn-academics"
                                  href="https://drive.google.com/file/d/1_wcXozNpu6DzB3REyvglDObZjcjTxj5U/view?usp=sharing"
                                  target="_blank"><strong>Quiz-4</strong> &nbsp;|&nbsp; 23/3/2021</a>
                                  <br>

                                  <a class="btn btn-outline-secondary btn-academics"
                                    href="https://drive.google.com/file/d/1dfKShytlySrAYqNP2PGhV91KUvIsZjSb/view?usp=sharing"
                                    target="_blank"><strong>Quiz-5</strong> &nbsp;|&nbsp; 6/4/2021</a>
                                    <br>


                          <br>

                        <!-- Last year paper -->
                        <h5 class="icon-title-papers"><i class="far fa-file-powerpoint "></i>&nbsp;Previous Year Papers
                        </h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/15VckQtgAxOj4UpL5LzE-XqSQkXaAf1xc/view?usp=sharing"
                          target="_blank"><strong>CE201</strong> &nbsp;|&nbsp; Nov-2011</a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/13muhW3mFV_ijU9A8dIq3gZU8Ocn9HswW/view?usp=sharing"
                          target="_blank"><strong>CE201</strong> &nbsp;|&nbsp; Nov-2012</a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1G4I22dUuO3GPmFYRYGzc504G27yW8AVt/view?usp=sharing"
                          target="_blank"><strong>CE201</strong> &nbsp;|&nbsp; Nov-2013</a>
                        <br>

                          <a class="btn btn-outline-secondary btn-academics"
                            href="https://drive.google.com/file/d/1OsoeMBuJGN0it1yydBUgZvmmmSwi4xQV/view?usp=sharing"
                            target="_blank"><strong>IT214</strong> &nbsp;|&nbsp; Dec-2016</a>
                          <br>

                          <a class="btn btn-outline-secondary btn-academics"
                            href="https://drive.google.com/file/d/18fRVS_C5cEmDWs_J1cf87fxqZmwXwca1/view?usp=sharing"
                            target="_blank"><strong>CE201</strong> &nbsp;|&nbsp; Dec-2018</a>
                          <br>

                          <a class="btn btn-outline-secondary btn-academics"
                              href="https://drive.google.com/file/d/1UX12mQ6NcPYoPl4tQq50T13TYeiNLRHl/view?usp=sharing"
                              target="_blank"><strong>CE245</strong> &nbsp;|&nbsp; May-2019</a>
                          <br><br>

                          <!-- Lecture Recording -->
                          <h5 class="icon-title-record"><i class="far fa-file-video"></i>&nbsp;Lecture Recording
                          </h5>
                          <hr class="icon-title-hr">

                          <a class="btn btn-outline-secondary btn-academics"
                            href="https://drive.google.com/drive/folders/19EAaShtFDy9gYyHSL5h20NRm9ubldFaR?usp=sharing"
                            target="_blank"><strong>All Lectures</strong></a>
                          <br>

                          <a class="btn btn-outline-secondary btn-academics"
                            href="https://drive.google.com/drive/folders/1zyHeWheXVmpiAJcwkYRflZrPMkyhMKZD?usp=sharing"
                            target="_blank"><strong>All Practicals</strong></a>
                          <br>
                          <p>(Special Thanks to Bhavya Gosai for Recorded Videos)</p>
                        <!-- /////////////////////// -->


                        <!-- /////////////////////// -->
                      </div>

                      <div class="tab-pane fade" id="s42">
                        <!-- CE246 Content -->
                        <h4>Database Management System (DBMS)</h4>
                        <br2></br2>

                        <!-- Presentations Content -->
                        <h5 class="icon-title-presentation"><i class="far fa-file-powerpoint "></i>&nbsp;Presentations
                        </h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1SIrQX6WqG4vMQGG8W2_MsLi4jiYtCGl2/view?usp=sharing"
                          target="_blank"><strong>DBMS Introduction</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/15hBWfXv9t83ekCS9vf7eGOW4a_ysRZnL/view?usp=sharing"
                          target="_blank"><strong>Unit-1 & 2</strong> &nbsp;|&nbsp; Introduction | Relational Model  </a>
                      <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/15hBWfXv9t83ekCS9vf7eGOW4a_ysRZnL/view?usp=sharing"
                          target="_blank"><strong>Unit-3</strong> &nbsp;|&nbsp;Entity Relational Model </a>
                          <br>

                          <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1vqx3EyRmZu9hqZvmzshvu9aFOUK1kypF/view?usp=sharing"
                          target="_blank"><strong>Unit-5</strong> &nbsp;|&nbsp;Relational Database Design  </a>
                          <br>

                          <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1jl9qVRiNYQCBn_cYEw_w0LQzHxDnhKj1/view?usp=sharing"
                          target="_blank"><strong>Unit-8</strong> &nbsp;|&nbsp;Database Security  </a>
                          <br>

                          <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1KriQk6DiSzKKO1wJqJ6s9xtZfu7muymJ/view?usp=sharing"
                          target="_blank"><strong>Introduction to Cursor</strong></a>
                          <br>

                          <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/18PnAIU_IPKRdK6RadEx7sKOx1jzMCPXz/view?usp=sharing"
                          target="_blank"><strong>Introduction to Hashing</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                        href="https://drive.google.com/file/d/1j7X_kM0H6qjBZo1ye-GywGA_GvCsqgNx/view?usp=sharing"
                        target="_blank"><strong>PL/SQL Exception</strong></a>
                      <br>

                      <a class="btn btn-outline-secondary btn-academics"
                      href="https://drive.google.com/file/d/1BtDCjAOqjpLF5dnxIpEUQykZyhgknRdi/view?usp=sharing"
                      target="_blank"><strong>PL/SQL Function</strong></a>
                    <br><br>

                        <!-- E-books -->
                        <h5 class="icon-title-e-books"><i class="far fa-file-pdf"></i>&nbsp;E-Books</h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                        href="https://drive.google.com/file/d/1s3nsVL21klfipntNS2Ay-IwBlqETTFr0/view?usp=sharing"
                        target="_blank"><strong>Syllabus</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                        href="https://drive.google.com/file/d/1TArncbws-HFjKULt0JNkIYpxAsmPxgHB/view?usp=sharing"
                        target="_blank"><strong>Oracle DBMS Setup guide</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1uElAzG2FTygUTYonqc2XlUDNCGcwEndd/view?usp=sharing"
                          target="_blank"><strong>Database System Concepts (Sixth Edition)</strong></a>
                          <br>

                          <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1mz10bTsdlWddHaouF8ldkejAIZsw-V-6/view?usp=sharing"
                          target="_blank"><strong>SQL Demo: Student-Teacher Database by Dr. Richard</strong></a>
                          <br>

                          <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/14mxKIe5-DIozPnJiiq8SelCfgrw0Nd7k/view?usp=sharing"
                          target="_blank"><strong>Relational Algebra and Relational Calculus</strong></a>
                          <br>

                          <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1mjJyE9io1jf-RyJBoY8FZSPgghAik8E6/view?usp=sharing"
                          target="_blank"><strong>Basic SQL-examples</strong></a>
                          <br>

                          <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1tRUX44kbhuIQXgcoDvbAbA2QLd1f6UOq/view?usp=sharing"
                          target="_blank"><strong>Gate Quest-1</strong></a>

                          <br><br>

                        <!-- Lecture Recording -->
                        <h5 class="icon-title-record"><i class="far fa-file-video"></i>&nbsp;Lecture Recording
                        </h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/drive/folders/1Vb080c9_DZPGJ94fYMToqc19ogQi2Bpd?usp=sharing"
                          target="_blank"><strong>All Lectures</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/drive/folders/1xO7_dO3lpvHO71Vlump6TfeyVdWCZ1WM?usp=sharing"
                          target="_blank"><strong>All Practicals</strong></a>
                        <br>
                        <p>(Special Thanks to Bhavya Gosai for Recorded Videos)</p>


                        <!-- /////////////////////// -->

                        <!-- /////////////////////// -->
                      </div>

                      <div class="tab-pane fade" id="s43">
                        <!-- CE258 Content -->
                        <h4>Microprocessor and Computer Organization(MCO)</h4>
                        <br2></br2>

                        <!-- Presentations Content -->
                        <h5 class="icon-title-presentation"><i class="far fa-file-powerpoint "></i>&nbsp;Presentations
                        </h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1xlSiV5NaE53WU0RqShLkOi-4pFrH7gbf/view?usp=sharing"
                          target="_blank"><strong>Unit-4</strong> &nbsp;|&nbsp;Central Processing Unit </a>
                          <br>

                          <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1gWvBrc5e50ZUTW7rIurXzIfyLkbOXXkJ/view?usp=sharing"
                          target="_blank"><strong>Unit-5</strong> &nbsp;|&nbsp;Pipeline and Vector Processing </a>
                          <br>

                          <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1xZqYM44zVvL8xbVHZuRA-gi3S58gU8cD/view?usp=sharing"
                          target="_blank"><strong>Unit-6</strong> &nbsp;|&nbsp;Computer Arithmetic</a>
                          <br>

                          <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1oQkyjFnzcU80D6MBDgHEIyT8H4dd0Ojw/view?usp=sharing"
                          target="_blank"><strong>Unit-7</strong> &nbsp;|&nbsp;Memory Organization</a>
                          <br>

                          <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1YEsVfIAtWNBH_WE3WpxqLMwu8I3XWmFU/view?usp=sharing"
                          target="_blank"><strong>Control Functions </strong></a>
                          <br>

                          <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1oWaVULcCbuzLChSwJpcrG5iIKcitrfSR/view?usp=sharing"
                          target="_blank"><strong>Intel Core Series</strong> </a>

                        <br><br>
                        <!-- E-books -->
                        <h5 class="icon-title-e-books"><i class="far fa-file-pdf"></i>&nbsp;E-Books</h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/12SdzAyJN7OAyX7AZ1scfL4MSOFTZHd5W/view?usp=sharing"
                          target="_blank"><strong>Syllabus</strong></a>
                          <br>

                          <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/1_8T5w7Hbjk8kZ4IgrIK4jUYYKCEtdIjv/view?usp=sharing"
                          target="_blank"><strong>Unit-1</strong> &nbsp;|&nbsp;Introduction to Digital Logic Circuit</a>
                          <br>

                          <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/13gKzJAdleZY1IR2CyScISpvY-30R3VHR/view?usp=sharing"
                          target="_blank"><strong>Unit-3</strong> &nbsp;|&nbsp;Basic Computer Organization and Design</a>
                          <br><br>


                        <!-- Practical files -->
                        <h5 class="icon-title-papers"><i class="fas fa-microchip "></i>&nbsp;Practicals
                        </h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                        href="https://drive.google.com/file/d/1dDyt1QVluJAlRVwi3ozcdRg8deOWPGth/view?usp=sharing"
                        target="_blank"><strong>emu8086 and MASM setup</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                        href="https://drive.google.com/file/d/1hG6d1HUUAAFqYvy4ZJciNBBWe0ghMZvp/view?usp=sharing"
                        target="_blank"><strong>8086 Instruction Set</strong></a>
                        <br>


                        <a class="btn btn-outline-secondary btn-academics"
                        href="https://drive.google.com/file/d/1Fcw5VVKlvCZHk3S-VG7DzG-HgXdVq-xV/view?usp=sharing"
                        target="_blank"><strong>8086 Adderessing Modes</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                        href="https://drive.google.com/file/d/1c8Mcw3cirkxLR616WD_xVf2l8q7gEv_q/view?usp=sharing"
                        target="_blank"><strong>8086 Assembler Directives</strong></a>
                        <br>

                        <a class="btn btn-outline-secondary btn-academics"
                        href="https://drive.google.com/file/d/1RZfL1f5wk-KYWknAHf0gPVNd25hZvj2-/view?usp=sharing"
                        target="_blank"><strong>8086 Interrupt codes</strong></a>
                        <br><br>

                          <!-- Lecture Recording -->
                          <h5 class="icon-title-record"><i class="far fa-file-video"></i>&nbsp;Lecture Recording
                          </h5>
                          <hr class="icon-title-hr">

                          <a class="btn btn-outline-secondary btn-academics"
                            href="https://drive.google.com/drive/folders/1cn-yGMuB6wHJ50Wq7AuS4XRgaRopJ-Pp?usp=sharing"
                            target="_blank"><strong>All Lectures</strong></a>
                          <br>

                          <a class="btn btn-outline-secondary btn-academics"
                            href="https://drive.google.com/drive/folders/1idYMwgIi7Gu27biBoEBj6HDJ6-2u7yzk?usp=sharing"
                            target="_blank"><strong>All Practicals</strong></a>
                          <br>
                          <p>(Special Thanks to Bhavya Gosai for Recorded Videos)</p>

                        <!-- /////////////////////// -->
                        <!-- /////////////////////// -->
                      </div>

                      <div class="tab-pane fade" id="s44">
                        <!-- CE259 Content -->
                        <h4>Programming In Python (PIP) </h4>
                        <br2></br2>

                        <!-- E-books -->
                        <h5 class="icon-title-e-books"><i class="far fa-file-pdf"></i>&nbsp;E-Books</h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/file/d/14bUl2HocWXc4FJebkpavLM4FKNGCkxex/view?usp=sharing"
                          target="_blank"><strong>Python-docx-Documentation</strong></a>
                          <br><br>


                        <!-- Lecture Recording -->
                        <h5 class="icon-title-record"><i class="far fa-file-video"></i>&nbsp;Lecture Recording
                        </h5>
                        <hr class="icon-title-hr">

                        <a class="btn btn-outline-secondary btn-academics"
                          href="https://drive.google.com/drive/folders/1HCZLQ8ubvxTAZ7yOXLybDHmg24LyeIvQ?usp=sharing"
                          target="_blank"><strong>All Practicals</strong></a>
                        <br>
                        <p>(Special Thanks to Bhavya Gosai for Recorded Videos)</p>
                        <!-- /////////////////////// -->

                        <!-- /////////////////////// -->
                      </div>


                    </div>

                  </div>
                </div>

              </div>
              <!-- ///////////////////////////////////////////////////////// -->

              <!-- Sem-5///////////////////////////////////////////////////////////////// -->
              <div class="tab-pane fade" id="sem5">
                <!-- Sem-5 Section -->
                <div class="tab-content inner-tab">

                  <div class=" m-auto">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#s51" aria-selected="true">CE341</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#s52" aria-selected="false">CE342</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#s53" aria-selected="false">CE343</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#s54" aria-selected="false">CE344</a>
                      </li>


                    </ul>
                    <!-- /////////////////////////////////////////////// -->
                    <div class="tab-content SubjectContent">
                      <div class="tab-pane fade show active" id="s51">
                        <!-- CE341 Content -->
                        <h4>Microprocessor architectures and assembly programming (MAAP)</h4>
                        <br2></br2>

                       <p>(coming soon...)</p>

                       <!-- /////////////////////// -->


                        <!-- /////////////////////// -->
                      </div>

                      <div class="tab-pane fade" id="s52">
                        <!-- CE342 Content -->
                        <h4>Design & Analysis of Algorithms (DAA)</h4>
                        <br2></br2>

                        <p>(coming soon...)</p>

                        <!-- /////////////////////// -->

                        <!-- /////////////////////// -->
                      </div>

                      <div class="tab-pane fade" id="s53">
                        <!-- CE343 Content -->
                        <h4>Software Engineering (SE)</h4>
                        <br2></br2>

                        <p>(coming soon...)</p>


                        <!-- /////////////////////// -->
                        <!-- /////////////////////// -->
                      </div>

                      <div class="tab-pane fade" id="s54">
                        <!-- CE344 Content -->
                        <h4>Computer Networks (CN)</h4>
                        <br2></br2>

                        <p>(coming soon...)</p>

                        <!-- /////////////////////// -->
                        <!-- /////////////////////// -->
                      </div>


                    </div>

                  </div>
                </div>

              </div>
              <!-- ///////////////////////////////////////////////////////// -->

              <!-- Sem-6///////////////////////////////////////////////////////////////// -->
              <div class="tab-pane fade" id="sem6">
                <!-- Sem-6 Section -->
                <div class="tab-content inner-tab">

                  <div class=" m-auto">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#s61" aria-selected="true">CE347</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#s62" aria-selected="false">CE348</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#s63" aria-selected="false">CE349</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#s64" aria-selected="false">CE350</a>
                      </li>


                    </ul>
                    <!-- /////////////////////////////////////////////// -->
                    <div class="tab-content SubjectContent">
                      <div class="tab-pane fade show active" id="s61">
                        <!-- CE347 Content -->
                        <h4>Internals of Operating System (OS)</h4>
                        <br2></br2>

                        <p>(coming soon...)</p>

                        <!-- /////////////////////// -->
                        <!-- /////////////////////// -->
                      </div>

                      <div class="tab-pane fade" id="s62">
                        <!-- CE348 Content -->
                        <h4>Information Security (IS)</h4>
                        <br2></br2>

                        <p>(coming soon...)</p>

                        <!-- /////////////////////// -->
                        <!-- /////////////////////// -->
                      </div>

                      <div class="tab-pane fade" id="s63">
                        <!-- CE349 Content -->
                        <h4>Theory of Computation (TOC)</h4>
                        <br2></br2>

                        <p>(coming soon...)</p>

                        <!-- /////////////////////// -->
                        <!-- /////////////////////// -->
                      </div>

                      <div class="tab-pane fade" id="s64">
                        <!-- CE350 Content -->
                        <h4>Data Warehousing & Data Mining (DWDM)</h4>
                        <br2></br2>

                        <p>(coming soon...)</p>

                        <!-- /////////////////////// -->
                        <!-- /////////////////////// -->
                      </div>


                    </div>

                  </div>
                </div>

              </div>
              <!-- ///////////////////////////////////////////////////////// -->

              <!-- Sem-7///////////////////////////////////////////////////////////////// -->
              <div class="tab-pane fade" id="sem7">
                <!-- Sem-7 Section -->
                <div class="tab-content inner-tab">

                  <div class=" m-auto">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#s71" aria-selected="true">CE441</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#s72" aria-selected="false">CE442</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#s73" aria-selected="false">CE443</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#s74" aria-selected="false">CE444</a>
                      </li>


                    </ul>
                    <!-- /////////////////////////////////////////////// -->
                    <div class="tab-content SubjectContent">
                      <div class="tab-pane fade show active" id="s71">
                        <!-- CE441 Content -->
                        <h4>Big Data Analysis (BDA)</h4>
                        <br2></br2>

                        <p>(coming soon...)</p>

                        <!-- /////////////////////// -->
                        <!-- /////////////////////// -->
                      </div>

                      <div class="tab-pane fade" id="s72">
                        <!-- CE442 Content -->
                        <h4>Design of Language Processors (DLP)</h4>
                        <br2></br2>

                        <p>(coming soon...)</p>

                        <!-- /////////////////////// -->
                        <!-- /////////////////////// -->
                      </div>

                      <div class="tab-pane fade" id="s73">
                        <!-- CE443 Content -->
                        <h4>Cloud Computing (CC)</h4>
                        <br2></br2>

                        <p>(coming soon...)</p>

                        <!-- /////////////////////// -->
                        <!-- /////////////////////// -->
                      </div>

                      <div class="tab-pane fade" id="s74">
                        <!-- CE444 Content -->
                        <h4>Internet of Things (IoT)</h4>
                        <br2></br2>

                        <p>(coming soon...)</p>

                        <!-- /////////////////////// -->
                        <!-- /////////////////////// -->
                      </div>


                    </div>

                  </div>
                </div>

              </div>
              <!-- ///////////////////////////////////////////////////////// -->


              <!-- Sem-8///////////////////////////////////////////////////////////////// -->
              <div class="tab-pane fade" id="sem8">
                <!-- Sem-8 Section -->
                <div class="tab-content inner-tab">

                  <div class=" m-auto">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#s81" aria-selected="true">CE447</a>
                      </li>
                    </ul>
                    <!-- /////////////////////////////////////////////// -->
                    <div class="tab-content SubjectContent">
                      <div class="tab-pane fade show active" id="s81">
                        <!-- CE447 Content -->
                        <h4>Software Project Major</h4>
                        <br2></br2>

                        <p>(coming soon...)</p>


                        <!-- /////////////////////// -->
                        <!-- /////////////////////// -->
                      </div>

                    </div>

                  </div>
                </div>

              </div>
              <!-- ///////////////////////////////////////////////////////// -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('partials/footer') %>
